@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap');

body {
    background-color: #190000;;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    height: 50px;
    list-style-type: none;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
    font-size: 0.95rem;
}

.brand img{
    width: 40px;
    padding: 0 6px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.2rem;
}

.container {
    height: 65vh;
    background-color: brown;
    color: white;
    font-family: "Varela Round", sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    padding: 34px;
    border-radius: 12px;
    background-image: url(bg.jpg);
}

.bottom {
    position: sticky;
    height: 96px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icons {
    font-size: 30px;
    margin-top: 12px;
    cursor: pointer;
}


#myProgressBar {
    width: 80vw;
    cursor: pointer;
}

.songItem {
    display: flex;
    height: 60px;
    width: 80%;
    background-color: #03191E;
    color: white;
    margin: 15px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
}

.songItem img {
    width: 48px;
    margin: 0 23px;
    border-radius: 2px;
}

.timestamp {
    margin: 0 23px;
}

.timestamp i {
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 10.1vw;
    font-family: "Varela Round", sans-serif;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.3s ease-in;
}